<!DOCTYPE html>
<html>
  <head>
    <title>Grocery List Item</title>
  </head>

  <body>
    <header>
      <h1> Item Name: <%= @item_name %> </h1>
      <h2> Quantity: <%= @item_amount %> </h2>      
    </header>
  </body>
</html>
